{% extends 'base.html' %}
{% block content %}
    <h1>My Emergency Contacts</h1>
    <ul>
        {% for contact in contacts %}
            <li>{{ contact.name }} ({{ contact.relationship }}) - {{ contact.phone }}</li>
            <a href="{% url 'account_home:edit_emergency_contact' contact.pk %}">Edit</a>
            <a href="{% url 'account_home:delete_emergency_contact' contact.pk %}">Delete</a>
        {% empty %}
            <li>No contacts added yet.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'account_home:add_emergency_contact' %}">Add Emergency Contact</a>
{% endblock %}
