{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block head_title %}Delete Emergency Contact{% endblock head_title %}

{% block content %}
<h1>Delete Emergency Contact</h1>
<p>Are you sure you want to delete {{ contact.name }}?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Yes, delete</button>
</form>
<a href="{% url 'account_home:emergency_contact_list' %}">Cancel</a>
{% endblock content %}

