{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="bg-neutral-light/10 backdrop-blur-sm rounded-xl p-8 shadow-lg border border-accent/10">

    <!--Welcome section-->
    <h1 class="text-3xl font-bold bg-gradient-to-r from-accent to-secondary bg-clip-text text-transparent mb-4">
        Welcome to Protect Multitool
    </h1>
    <p class="text-gray-300">
        Your emergency response system for maintaining safety and security.
    </p>
</div>

<!--Key Features - Links to the tools -->
<div>
    <h2>Key Features</h2>
    <li>Learn about the Impact of Human Trafficking</l1>
    <li>Use our Safe route feature</li>
    <li>If you are in trouble use this Helicopter game</li>
</div>

<!--Impacts of Human Trafficking-->
<div>
    <h2>Impacts of Human Trafficking</h2>
    <h4>Human trafficking occurs in all regions of the world</h4>
    <p>Human trafficking occurs everywhere, but people are mainly trafficked from lower-income to higher-income countries.
        Most victims of cross-border trafficking come from Africa, especially sub-Saharan Africa, and from South and East Asia.
    </p>
    
    <h4>Human trafficking is a widespread crime and a lucrative business</h4>
    <p>
        Human trafficking is one of the fastest-growing crimes, along with drugs and arms trafficking,
        and a highly profitable business, generating an estimated $150 billion in profits each year.  
    </p>

    <h4>Human trafficking thrives on poverty, conflict and climate change</h4>
    <p>
        Traffickers capitalize on desperation, disparity and deficiency, targeting people who are vulnerable,
        marginalized or in difficult situations, including irregular or smuggled migrants and those in urgent need of work. 
    </p>

    <h4>Traffickers use everything from deception to violence to recruit and exploit their victims </h4>
    <p>
        Taking advantage of the high demand for cheap labour, commercial sex or other services, criminals exploit shortcomings in legislation and its enforcement,
        as well as corrupt actors and weak governance, to carry out their illegal activities. 

        They fraudulently promise a better life in a new country, offer exciting jobs with great benefits,
        or use outright violence against vulnerable people to coerce them into exploitative practices, such as sexual exploitation or forced labour.  
    </p>

</div>

<!-- index.html content ends here -->
{% endblock %}