{% extends 'base.html' %}

{% block content %}
{% load static %}

{% if user.is_authenticated %}
{% if contacts %}
<canvas id="gameCanvas" width="720" height="1280"></canvas>
<button id="playButton">Full Screen</button>
<br>
<br>
<script type="module" src="{% static 'game/constants.js' %}"></script>
<script type="module" src="{% static 'game/sprite.js' %}"></script>
<script type="module" src="{% static 'game/frog.js' %}"></script>
<script>
    window.gameConfig = {
        latitude: '',
        longitude: '',
        emergencyContacts: JSON.parse('{{ emergency_contacts_list|safe }}'),
        firstName: "{{ first_name }}",
        apiUrls: {
            coordinatesUrl: "{% url 'game:handle_event_coordinates' %}",
            fallbackUrl: "{% url 'game:handle_event' %}",
        },
    };

    navigator.geolocation.getCurrentPosition((position) => {
        window.gameConfig.latitude = position.coords.latitude;
        window.gameConfig.longitude = position.coords.longitude;
        console.log("Geolocation updated:", window.gameConfig.latitude, window.gameConfig.longitude);
    });
</script>
{% else %}
<a href="{% url 'account_home:add_emergency_contact' %}"
    class="mt-20 w-full px-4 py-10 font-medium bg-amber-500 text-2xl text-white rounded-xl hover:bg-opacity-80 transition-all transform hover:scale-105 shadow-lg text-center block">
    Please add emergency contacts to use this feature
</a>
{% endif %}
{% endif %}
<script type="module" src="{% static 'game/game.js' %}"></script>

<script>
    const floorImg = "{% static './game/images/floor.png' %}";
    const frogImg = "{% static 'game/images/frog.png' %}";
    const plantImg = "{% static 'game/images/plant.png' %}";
    const rockImg = "{% static 'game/images/rock.png' %}";
    const surfaceImg = "{% static 'game/images/surface.png' %}";
    const wallImg = "{% static 'game/images/wall.png' %}";


</script>






{% endblock %}