{% extends 'base.html' %}

{% block content %}
<h2> Secret game </h2>


<button id="sendRequest">Send POST Request</button>

<script>

    document.getElementById('sendRequest').addEventListener('click', () => {
        console.log("Button clicked!");
        const user_name = "{{user_name}}"
        const phone_number = "{{phone_number}}"
        fetch('{% url "handle_event" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ recipient: phone_number,
            sender: user_name}),
        })
        .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('Response:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
{% endblock %}